# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# macOS finder
.DS_Store

# SML/NJ
.cm/

# Makefile dependencies
.depend

# autoconf files
#
config.log
config.status
configure
configure~
configure.ac~
autom4te.cache
config/config_h.in

# files generated during configuration
#
Makefile
fragments.gmk
fragments.sml
bin/install-sml-wrapper.sh
src/compiler/common/paths.sml
src/compiler/common/size-of.sml
src/compiler/gen/fragments/mkfrags.sh
src/compiler/gen/fragments/mkmk.sh
src/compiler/nrrd/run-dnorm.sml
src/compiler/options/version.sml
src/compiler/parser/diderot-1.0.grm.sml
src/compiler/parser/diderot-1.0.lex.sml
src/compiler/parser/diderot.grm.sml
src/compiler/parser/diderot.lex.sml
src/lib/build/mk/build.gmk
src/lib/include/diderot/config.h

